body
  overflow-y: hidden
.container-header
  z-index: 99
  position: absolute
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  height: 90px
  padding: 20px 50px 20px 50px
  background-color: $cFour
  .header-icon
    display: none
  ul
    display: flex
    list-style-type: none
    padding-left: 0
    margin: 0
    li
      margin-right: 50px
      a
        color: $cWhite
        text-transform: uppercase
        font-size: 14px
        display: block
        &:after
          content: ''
          display: block
          background-color: $cSecond
          width: 0%
          height: 3px
          transform: translateY(-10px)
          transition: width 0.3s ease
      a:hover:after
        width: 80%
  a
    line-height: 50px
    color: white
  .contact-me
    background-color: $cSecond
    padding-left: 30px
    padding-right: 30px
    border-radius: 35px
    font-size: 14px
    &:hover
      opacity: 0.8

@include max900
  .push
    transition-duration: .3s
  .site-pusher
    transform: translateX(-250px)
    transition-duration: .3s
    .site-cache
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-color: rgba(0,0,0,0.6)
      z-index: 99
  .container-header
    position: absolute
    .container-menu
      position: fixed
      transform: translateX(250px)
      transition-duration: .3s
      padding-left: 15px
      width: 250px
      top: 0
      bottom: 0
      right: 0
      z-index: 99
      background-color: $cFour
      ul
        display: block
        li
          margin: auto
          height: 80px
          border-bottom: 1px solid $cThird
          a
            height: 80px
            line-height: 80px
          a::after
            display: none
    .header-icon
      display: block
      position: relative
      float: right
      cursor: pointer
      width: 50px
      height: 50px
      order: 2
      &:after
        content: ''
        position: absolute
        display: block
        width: 30px
        height: 0
        top: 10px
        left: 15px
        box-shadow: 0 10px 0 1px $cWhite, 0 16px 0 1px $cWhite, 0 22px 0 1px $cWhite