@import "../utils/animations"
//maintenance
.alert
  display: none
  background-color: red
  text-align: center
  width: 400px
  margin: 20px auto
  color: $cWhite
  font-weight: bold
  padding: 20px

//site


.container-sections
  height: 100vh
  overflow-y: scroll

canvas
  position: fixed
  top: 50px
  width: 500px!important
  height: 500px!important

section
  background-color: $cThird
  padding-left: 50px
  padding-right: 50px

.header-section
  min-height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  background-color: $cThird
  padding: 0px 50px 0px 50px
  position: relative
  .container-title
    display: flex
    .title-dev
      color: $cSecond
      font-style: italic

    .title-dynamique
      padding-left: 10px
  p
    text-align: center
    max-width: 650px
    line-height: 27px
    margin: 20px auto 0 auto
  .arrow
    background-image: url("../assets/img/down-arrow.svg")
    background-position: center
    display: block
    margin-top: 50px
    left: 50%
    transform: translateX(-50%)
    height: 150px
    width: 150px
    position: relative
    //animation-name: scroll_anim
    //animation-duration: 1.5s
    //animation-iteration-count: infinite
    a
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0

.parcours-section
  height: 1100px!important
  background-color: $cFour
  position: relative
  .container-txt, .container-timeline
    position: relative
  .container-txt
    position: absolute
    max-width: 40vw
    top: 10vh
    p
      border-left: solid 3px $cSecond
      padding-left: 20px
      line-height: 27px
  .container-timeline
    position: absolute
    right: 0
    bottom: 0
    max-width: 50vw
    padding-bottom: 100px
    padding-right: 10vw
    &:before
      content: ''
      position: absolute
      height: 100%
      width: 3px
      background: $cPrinc
    .timeline-bloc
      display: flex
      margin-bottom: 30px
      .timeline-img
        position: absolute
        display: block
        background: $cPrinc
        height: 25px
        width: 25px
        transform: translateX(-11px)
        margin-right: 20px
        border-radius: 50%
        box-shadow: 0px 3px 55px $cPrinc
      .timeline-text
        margin-left: 55px
        max-width: 500px

.skills-section
  padding-bottom: 50px
  .skills-languages
    padding-top: 10vh
  .container-skills
    max-width: 1300px
    margin: 5vh auto 0 auto
    display: flex
    justify-content: space-between
    .skills
      background-color: $cFour
      width: 45%
      position: relative
      h4
        color: $cSecond
        text-align: center
        text-transform: uppercase
        font-size: 20px
        margin-bottom: 30px
      span
        color: $cWhite
        text-transform: uppercase
        font-weight: bold
        line-height: 20px
        font-size: 14px
        &:before
          content: ''
          display: inline-block
          background: url("../assets/img/check.png")
          background-size: contain
          background-repeat: no-repeat
          height: 20px
          width: 20px
          margin-right: 20px
          transform: translateY(10px)
      p
        color: #A0A0A0
        margin: 0px 0px 30px 0px
        font-size: 14px
        padding-left: 40px
      .container-languages
        display: flex
        justify-content: space-evenly
        .content-languages

  .skills-competences
    margin: 50px 0px
  .container-competences
    display: grid
    grid-template-columns: repeat(3,1fr)
    grid-gap: 70px
    margin: auto
    max-width: 1300px
    padding-bottom: 30px
    .competence
      background-color: $cFour
      height: 350px
      padding: 50px
      margin: auto
      .txt-competence
        padding: 20px 20px
        span
          display: block
          color: $cWhite
          text-transform: uppercase
          font-weight: bold
          font-size: 16px
          margin-bottom: 15px
        p
          color: #A0A0A0
          margin: 5px 0px 0px 0px
          font-size: 16px
      .img-competence
        display: block
        background-image: url("../assets/img/animation.png")
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        height: 50px
        width: 50px
        margin-bottom: 20px
        margin-left: 20px
      &:nth-of-type(2)
        .img-competence
          background-image: url("../assets/img/responsive.png")
      &:nth-of-type(3)
        .img-competence
          background-image: url("../assets/img/logo-wp.png")
      &:nth-of-type(4)
        .img-competence
          background-image: url("../assets/img/adobe.png")
      &:nth-of-type(5)
        .img-competence
          background-image: url("../assets/img/veille.png")
      &:nth-of-type(6)
        .img-competence
          background-image: url("../assets/img/git.png")

.section-realisations
  background-color: $cFour
  padding-bottom: 50px
  min-height: auto
  h2
    padding: 50px 0px
  .container-menu-projets
    margin: auto
    width: 700px
    display: flex
    justify-content: space-around
    .item-active
      background-color: $cSecond!important
    a
      color: $cWhite
      font-size: 16px
      text-transform: uppercase
      background-color: $cThird
      padding: 15px
      width: 200px
      text-align: center
      box-sizing: border-box
      &:hover
        background-color: $cSecond

  .container-projets
    max-width: 1300px
    margin: 50px auto 0px auto
    display: grid
    grid-template-columns: repeat(3,1fr)
    grid-auto-rows: minmax(400px, auto)
    grid-gap: 10px
    .projet
      position: relative
      background-image: url("../assets/img/media-impact.PNG")
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      .link-projet
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: $cSecond
        opacity: 0
        transition: opacity 0.3s ease
        display: flex
        justify-content: center
        align-items: center
        &:hover
          opacity: 1
        .projet-img-hover
          display: block
          margin: 0 auto 15px auto
          width: 50px
        .project-txt-hover
          font-size: 25px
          text-transform: uppercase
          font-weight: bold
          margin: 0
      &:nth-of-type(2)
        background-image: url("../assets/img/aquaplaisir.PNG")
      &:nth-of-type(3)
        background-image: url("../assets/img/wordpress.PNG")
      &:nth-of-type(4)
        background-image: url("../assets/img/threejs.PNG")
      &:nth-of-type(5)
        background-image: url("../assets/img/nfa16.PNG")
      &:nth-of-type(6)
        background-image: url("../assets/img/portfolio.PNG")
    .projet-display
      display: block
    .projet-delete
      display: none

.section-contact
  background-color: $cThird
  min-height: auto
  padding-bottom: 30px
  h2
    padding-top: 5vh
  .container-info-contact
    display: flex
    justify-content: space-between
    margin: 50px auto 0 auto
    max-width: 700px
    padding-bottom: 50px
    .info-contact
      display: flex
      background-color: $cFour
      width: 45%
      color: $cWhite
      padding: 20px 20px
      .img-contact
        display: block
        background-image: url("../assets/img/phone.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        width: 30px
        height: 38px
        margin-right: 20px
        flex-shrink: 0
      &:nth-of-type(2)
        .img-contact
          background-image: url("../assets/img/email.png")

      .txt-contact
        display: flex
        flex-direction: column
        justify-content: center
        span
          font-weight: bold
          text-transform: uppercase
        p
          margin: 0
          font-size: 14px
          color: #A0A0A0
  .container-form
    margin: auto
    max-width: 700px
    input, textarea
      display: block
      margin-left: auto
      margin-right: auto
      width: 100%
      background-color: $cFour
      border: none
      color: $cWhite
      font-weight: bold
    input
      margin-bottom: 30px
      padding: 30px 10px
    textarea
      padding: 10px
      height: 250px
      resize: none
    .btn-submit
      margin-top: 20px
      margin-bottom: 0px
      background-color: $cSecond
      width: 250px
      border-radius: 35px
      font-size: 16px
      padding: 20px
  .message-success, .message-error
    margin: 0


//RESPONSIVE


@include max1600
  .parcours-section
    .container-txt
      top: 50px
      max-width: 50vw

@include max1390
  .section-realisations
    .container-projets
      margin-right: 50px
      margin-left: 50px
      grid-template-columns: repeat(2,1fr)

@include max1215
  .header-section
    .container-title
      flex-direction: column
      text-align: center
    h3
      text-align: center


@include max1124

  .parcours-section .container-txt
    max-width: 70vw
    margin: auto
    position: relative
    h2
      text-align: center
    p
      border-left: none
      border-top: solid 3px $cSecond
      padding-left: 0px
      padding-top: 20px
      text-align: center
  .parcours-section
    .container-timeline
      right: 20%
      padding-bottom: 50px
      padding-right: 0
      h3
        font-size: 20px

  .skills-section .container-competences .competence
    width: 250px
    padding: 30px 30px

@include max900
  .skills-section .container-competences .competence
    padding: 20px 0px
  .skills-section
    .container-skills
      .skills
        padding-left: 10px
        padding-right: 10px
        .container-languages
          flex-direction: column
          align-items: center
    .container-competences
      grid-template-columns: repeat(2, 1fr)


@include max800
  section
    padding-right: 10px
    padding-left: 10px
  .skills-section
    .container-competences
      flex-wrap: wrap
      justify-content: start



@include max767
  .parcours-section
    height: 1050px!important
    .container-timeline
      max-width: 80%
      right: 10%
  .section-realisations
    .container-menu-projets
      width: 80%
      a
        width: 30%
  .container-info-contact
    padding-left: 10px
    padding-right: 10px
  .container-form
    padding-left: 10px
    padding-right: 10px

@include max700
  .skills-section
    .container-competences
      grid-gap: 20px
  .section-contact
    .container-info-contact
      flex-direction: column
      .info-contact
        justify-content: center
        width: 70%
        margin: auto
        &:first-of-type
          margin-bottom: 30px

@include max640
  .skills-section
    .container-competences
      grid-template-columns: repeat(1, 1fr)
      .competence
        width: 80%
        height: auto
        .img-competence
          margin: auto
        .txt-competence
          text-align: center
  .section-realisations
    .container-menu-projets
      width: auto
    .container-projets
      grid-template-columns: repeat(1, 1fr)

@include max600
  h1
    font-size: 40px
  .parcours-section
    height: 1150px!important

@include max550
  .section-realisations
    .container-menu-projets
      a
        padding: 15px 5px


@include max480
  .parcours-section
    height: 1250px!important
  .section-contact
    .container-info-contact
      flex-direction: column
      .info-contact
        justify-content: center
        width: 100%
        &:first-of-type
          margin-bottom: 30px

@include max425
  .parcours-section
    height: 1350px!important

@include max375
  .parcours-section
    height: 1500px!important